<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Strona główna</title>
    <meta name="keywords" content="Jakub, Przydatek, programowanie, youtube, github">
    <meta name="author" content="Jakub Przydatek">
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" href="css/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="css/favicon.ico" type="image/x-icon"/>
</head>
<body>
    <header>
        <div class="logo">
            <div class="logoname">
                Jakub Przydatek
            </div>

            <div class="logodesc">
                IT and Games
            </div>
        </div>
    </header>
    <div class="menu">
        <ul>
            <li> <a href="home.html"> Strona główna </a> </li>
            <li class="dropdown">
                <a class="dropbtn" href=""> Projekty </a>
                <div class="dropdown-content">
                    <a href="">   CarSearchBot  </a>
                    <a href="">  FirstPhoneApp  </a>
                </div>
            </li>
            <li> <a href=""> Gaming </a> </li>
            <li> <a href="" target="_blank"> CV </a> </li>
            <li> <a href=""> Github </a> </li>
        </ul>
    </div>

    <div class="box1">
        <div class="aboutme"> <h1> Co tutaj znajdziesz? </h1> Wszystko co tworzę. Uczę się zaganień związanych z
            programowaniem, więc mam nadzieję, że moje projekty Cię zaciekawią. Uczę się wielu zagadnien z programowania
            aplikacji i tworzenia stron internetowych, ale skupiam się na jęzku Java. Jeśli interesuje Cię moje hobby to
            zapraszam do zakładki "Gaming". Ciekawe nagrywki umieszczam na Youtubie. Gry multiplayer są fajne z
            przyjaciółmi, więc zamieszczam odnośnik do naszej strony. Jeśli jesteś rekruterem, moje CV i link do Githuba
            również znajdziesz w odnośnikach w Menu.
        </div>
        <div class="aboutpage"> <h1> O mnie </h1>Jestem studentem drugiego roku Informatyki na Instytucie Informatyki
            UWr. Wcześniej skończyłem technikum na profilu technik informatyk. Próbuje swoich sił w programowaniu.
            Głównie skupiam się na języku Java. Poza tym lubię czasem pograć i popatrzeć na samochody, na które mnie nie
            stać.
        </div>
    </div>
    <div class="box2">
		<div class="box2-title">
            <h1>Ostatnie artykuły</h1>
            <div id="posts">

            </div>
        </div>
    </div>


    <script src="api.js"></script>
</body>
</html>